@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --letra-principal: 'Overpass', sans-serif;

    --NaranjaPrincipal: hsl(25, 97%, 53%);
    --BlancoNeutral: hsl(0, 0%, 100%);
    --BlancoGris: hsl(217, 12%, 63%);
    --GrisMediano: hsl(216, 12%, 54%);
    --NegroClaro: hsl(213, 19%, 18%);
    --NegroPuro: hsl(216, 12%, 8%);
}

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
    background-color: var(--NegroPuro);
} 

.attribution {
    font-size: 11px;
    text-align: center;
    font-family: var(--letra-principal);
    color: var(--BlancoNeutral);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.calificaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.calificaciones__info {
    background-color: var(--NegroClaro);
    max-width: 25%;
    padding: 25px 25px;
    border-radius: 15px;
    line-height: 23px;
}

.calificaciones__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calificaciones__icon .calificaciones__img{
    color: var(--NaranjaPrincipal);
    background-color: var(--NegroPuro);
    border-radius: 50%;
    padding: 10px 10px;
    margin-bottom: 15px;
    width: 35px;
}

.calificaciones__name {
    font-family: var(--letra-principal);
    color: var(--BlancoNeutral);
    font-weight: 400;
}

.calificaciones__name--two {
    text-align: center;
}

.calificaciones__parrafo {
    color: var(--GrisMediano);
    font-family: var(--letra-principal);
    font-size: 13px;
    margin-top: 10px;
}

.calificaciones__input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.calificaciones__parrafo--two {
    color: var(--NaranjaPrincipal);
    background-color: rgb(68, 66, 66);
    padding: 4px 20px;
    border-radius: 30px;
}

.calificaciones__parrafo--text {
    text-align: center;
}

.calificaciones__botones {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calificaciones__btn {
    color: var(--GrisMediano);
    padding: 10px 10px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: var(--NegroPuro);
}

.calificaciones__btn:hover {
    background-color: var(--NaranjaPrincipal);
    color: var(--BlancoNeutral);
}

.calificaciones__sub {
    background-color: var(--NaranjaPrincipal);
    border: none;
    border: none;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    border-radius: 30px;
    color: var(--BlancoNeutral);
    text-transform: uppercase;
    font-family: var(--letra-principal);
    cursor: pointer;
}

.calificaciones__sub:hover {
    background-color: var(--BlancoNeutral);
    color: var(--NaranjaPrincipal);
}

@media (min-width: 280px) and (max-width: 425px) {
    .calificaciones {
        padding: 0 30px 0 30px;
    }
    .calificaciones__info {
        max-width: 100%;
        height: max-content;
    }
}

@media (min-width: 426px) and (max-width: 600px) {
    .calificaciones {
        padding: 0 30px 0 30px;
    }
    .calificaciones__info {
        max-width: 70%;
        height: max-content;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    .calificaciones {
        padding: 0 30px 0 30px;
    }
    .calificaciones__info {
        max-width: 50%;
        height: max-content;
    }
}